// images
// --------------------------------------------------
$image-coyo-small: '../assets/images/logos/coyo/logo-coyo-inversed-sm.png';
$image-coyo-medium: '../assets/images/logos/coyo/logo-coyo-inversed-sm.png';
$image-coyo-large: '../assets/images/logos/coyo/logo-coyo-inversed.png';
$image-coyo-hd: '../assets/images/logos/coyo/logo-coyo-inversed.png';

$image-coyo-nav: '../assets/images/logos/coyo/logo-coyo-inversed-nav.png';
$image-coyo-nav-hd: '../assets/images/logos/coyo/logo-coyo-inversed-nav-hd.png';
$image-coyo-front: '../assets/images/logos/coyo/logo-coyo-inversed-front.png';
$image-coyo-front-hd: '../assets/images/logos/coyo/logo-coyo-inversed-front-hd.png';
$image-mindsmash-small: '../assets/images/logos/mindsmash/logo-black-small.png';
$image-mindsmash-hd: '../assets/images/logos/mindsmash/logo-black-hd.png';

// colors
// --------------------------------------------------
//$color-original: #374555;
//$color-primary: $color-original;
//$color-secondary: #242f39;
//$color-background-main: #eee;

// front
// --------------------------------------------------
//$color-front-box: #404040;

// error
// --------------------------------------------------
//$color-valid: $msm-green;
//$color-error-border: #fff;
//$color-error-bg: #c50b0b;
//$color-error: #fff;

// links
// --------------------------------------------------
//$color-link: $msm-blue;

// navbar
// --------------------------------------------------
//$msm-navbar:               $color-primary;
//$msm-navbar-hover:         rgba(0, 0, 0, 0.15);
//$msm-navbar-active:        rgba(0, 0, 0, 0.3);

//$msm-navbar-text:          $msm-white;
//$msm-navbar-text-active:   $msm-white;
//$msm-navbar-text-disabled: rgba($msm-white, 0.5);

//$msm-navbar-input:         $msm-navbar-active;
//$msm-navbar-input-active:  rgba(0, 0, 0, 0.4);
//$msm-navbar-input-text:    $msm-white;

//$msm-navbar-placeholder:   rgba($msm-white, 0.5);

// buttons
// --------------------------------------------------
//$btn-primary-bg: $color-primary;

// forms
// --------------------------------------------------
//$color-input-group-addon-bg: #fff;
//$color-placeholder: #d6d6d6;
//$input-border-focus: $color-primary;

// admin
// --------------------------------------------------
//$color-primary-admin: $color-original;
//$color-background-admin-nav: darken($color-primary-admin, 7%);
//$color-background-admin-sidebar: $color-primary-admin;
//$color-link-admin-sidebar: rgba($msm-white, 0.5);
//$color-link-admin-sidebar-active: $msm-white;

// comments
// --------------------------------------------------
//$color-comments-bg: #F8F8F8;

// widgets
// --------------------------------------------------
//$color-widget-hover-bg: #FFF5DD;

// wizard
// --------------------------------------------------
//$msm-wizard-color: $color-primary;

// messaging sidebar
// --------------------------------------------------
//$color-messaging-sidebar-bg: #444;

// modals
// --------------------------------------------------
//$msm-modal-header-bg:      $color-primary;
//$msm-modal-header-text:    $msm-white;
