<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="shortcut icon" href="/favicon.ico">

  <base href="/" />

  <title ng-bind-html="$root.tabTitle"></title>

  <script type="application/javascript" src="config.js"></script>

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body class="{{ 'state-' + ($state.current.name | replace : '\\.': '-') }}"
      ng-class="{'curtain' : $root.curtain.loading || $root.curtain.error,
                   'mobile-app' : $root.app.mobile,
                   'mobile-app-ios' : $root.app.ios,
                   'mobile-app-android' : $root.app.android }">

<div curtain></div>
<div class="body" data-ui-view></div>
<div ng-bind-html="$root.trackingCode"></div>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

<script src="index.js"></script>
</body>
</html>
