<div class="panel panel-default panel-example-app">

  <div class="panel-heading">
    <h3 class="panel-title">
      {{ ctrl.app.settings.displayName }}
      <app-settings-button app="ctrl.app" class="pull-right"></app-settings-button>
    </h3>
  </div>

  <div class="panel-body">
    {{:: 'APP.EXAMPLE.MESSAGE.MESSAGE' | translate }}: <span class="message">'{{ ctrl.message }}'</span>
  </div>

  <div class="panel-footer">
    <button type="button" class="btn btn-primary" ng-click="ctrl.changeMessage()" ng-disabled="vm.busy">
      {{:: 'APP.EXAMPLE.MESSAGE.CHANGE' | translate }}
    </button>
  </div>
</div>
